* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: OpenSans, Arial, Sens-Serif;
  }
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
  /*хедер*/
  .header {
    background-color: #000000;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    position:relative;
  }
  .header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
  }
  .flex-container {
    display: flex;
    width: 1170px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:40px;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    box-sizing: border-box;
    width: 180px;
    position: relative;
    z-index: 555;
  }
  .menu {
    box-sizing: border-box;
  }
  .menu-list {
    display: flex;
    list-style-type: none;
    position: relative;
    z-index: 555;
  }
  .menu-list-item {
    box-sizing: border-box;
    font-size: 12px;
    margin-right: 35px;
    text-transform: uppercase;
  }
  .menu-list-item:last-child {
    margin-right: 0;
  }
  .menu-link {
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-family: OpenSans;
    text-decoration: none;
  }
  .title {
    width: 650px;
    margin: auto;
    padding-top:100px;
    padding-bottom:100px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    z-index: 555;
  }
  /*основной блок*/
.title-name{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    width: 1170px;
    height: 70px;
    font-size: 17px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 3;
  }
.container-cards{
    display: flex;
    width: 1170px;
    height:auto;
    margin-left: 0;
    margin-right: auto;
}
.card{
  width:24%;
  font-size: 15px;
  margin-left: 0;
  margin-right: 1%;
}
.card:last-child{
  margin-right: 0;
}
.card-prewiew{
  padding-left: 5px;
}
.card-name{
  box-sizing: border-box;
  border: 1px solid #b59f5b;
}
.card-description{
    color: black;
    text-transform: uppercase;
    text-align: start;
    font-weight: 700; 
}

.content {
    display: flex;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
.articles {
    display: flex;
    flex-wrap: wrap;
    width: 780px;
    margin-left: 0;
    margin-right: auto;
  }
.article {
    display: flex;
    padding-top: 60px;
  }
  .article-img {
    box-sizing: border-box;
    width: 380px;
    height: 300px;
    padding-left: 15px;
    padding-right: 30px;
  }
  .article-name {
    box-sizing: border-box;
    width: 365px;
    padding-left: 0;
  }
  .article-prewiew {
    display: flex;
  }
  .prewiew {
    display: inline;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #b59f5b;
    font-weight: 700;
  }
  .article-description {
    text-transform: uppercase;
    padding-bottom: 25px;
  }
  .date {
    font-family: OpenSans;
    font-size: 10px;
    font-style: normal;
    color: #888888;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    padding-right: 15px;
  }
  .name {
    font-family: OpenSans;
    font-size: 10px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
  }
  .description {
    font-family: OpenSans;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    padding-top: 25px;
    padding-bottom: auto;
  }
  .new-posts {
    display: flex;
  }
  .posts {
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom:60px;
  }
  .post-title {
    box-sizing: border-box;
    width: 270px;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-top:60px;
  }
  .new-posts {
    display: flex;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }
  .posts-img {
    box-sizing: border-box;
    width: 75px;
    height: 75px;
  }
  .post-info {
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 0;
  }
  .post-date {
    font-family: OpenSans;
    font-size: 12px;
    font-style: normal;
    color: #888888;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    padding-top: 0;
  }
  .post-name {
    box-sizing: border-box;
    width: 197px;
    text-transform: uppercase;
  }
  .form-row:last-child{
    margin-top:20px;
    margin-bottom:60px;
  }
  .search{
    box-sizing:border-box;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size:15px;
    background-position: right 15px center;
    background-color:#b59f5b;
    width:272px;
    height:47px;
    padding-left: 15px;
    border:none;
    font-family:inherit;
    margin-bottom:60px;
    margin-top:60px;
  }
  .field{
    box-sizing:border-box;
    background-color:#f3f7f5;
    min-width:272px;
    max-width:272px;
    height:47px;
    padding-left: 15px;
    border:none;
    font-family:inherit;
  }
  .button{
    box-sizing:border-box;
    background-color:#b59f5a;
    width:272px;
    height:47px;
    padding-left: 15px;
    border:none;
    text-transform: uppercase;
    font-weight:700;
    color:white;
    font-family:inherit;
  }
  .tags{
   display:flex; 
   width:272px; 
  }
  .tags-box{
    align-items:flex-start; 
  }
  .click{
    text-transform: uppercase;
    border:2px solid #f3f7f5;
    border-radius:5px;
    padding:2px 5px;
    margin-right:5px;
    margin-bottom:5px;
    text-decoration:none;
    font-size:12px;
    font-weight:700;
    color:black;
  }
  .topic{
    display:block;
    width:272px;
  }
  .click-topic{
    list-style-type: none;
    width:272px;
    text-decoration:none;
    font-size:12px;
    font-weight:700;
    color:black;
    border-bottom: 1px solid #f3f7f5;
    padding-bottom:2px;
    padding-top:10px;
  }
  /*футер*/
  .footer{
    box-sizing:border-box;
    width: 1170px;
    margin-left:auto;
    margin-right:auto;
    margin-top:65px;
    padding-left:15px;
    padding-right:15px;
  }
  .address{
    box-sizing:border-box;
    width:1170px;
    background-color:#f3f7f5;
    background-position:center center;
    margin-left:auto;
    margin-right:auto;
    
  }
  .socials-links{
    display:flex;
    flex-direction: row;
  }
  .socials-link{  
    width:25px;
    height:25px;
    background-repeat:no-repeat;
    background-size:25px;
    background-position: center center;
    margin-left:auto;
    margin-right:auto;
    list-style-type: none;
    text-align:center;
  }
  .socials-item{
    list-style-type: none;
    padding-right:25px; 
  }
  .socials-item:last-child{
    padding-right:25px;
  }
  .socials-link-twitter{
   background-image: url(../svg/004-twitter.svg); 
  }
  .socials-link-pinterest{
    background-image: url(../svg/001-pinterest.svg);
  }
  .socials-link-facebook{
    background-image: url(../svg/002-facebook-logo.svg);
  }
  .socials-link-instagram{
    background-image: url(../svg/005-instagram.svg);
  }
  .socials-link-tumblr{
    background-image: url(../svg/003-tumblr.svg);
  }
  .socials-link-text{
    position:absolute;
    width:1px;
    height:1px;
    clip:rect(1px,1px,1px,1px);
  }
  .Copyright{
    box-sizing:border-box;
    width:1170px;
    font-family: OpenSans;
    text-align:center;
    font-size:12px;
    font-style:normal;
    padding:50px 50px;
    margin-left:auto;
    margin-right:auto;
  }
